:root {
	--primary-color: #e81292;
	--secondarycolor: #9b5de5;
	--link-color: #00f5d4;
	--text-color: #171717;
	--font-size: 16px;
	--base-padding: 2rem;
	--cta-background: #000;
	--cta-text-color: var(--link-color);
	--background-stripes: repeating-linear-gradient(to right, var(--primary-color) 1rem, var(--primary-color) 110px, rgba(255, 255, 255, 0.25) 110px, rgba(255, 255, 255, 0.25) 111px);
	--footer-background: #111;
	--content-max-width: 600px;
}

@font-face {
	font-display: swap;
	font-family: "Unbounded";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Unbounded";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Unbounded-Black.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Unbounded";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/Unbounded-ExtraBold.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Unbounded";
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/Unbounded-ExtraLight.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Unbounded";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/Unbounded-Medium.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Unbounded";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/Unbounded-Light.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Unbounded";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Unbounded-Regular.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "Unbounded";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/Unbounded-SemiBold.ttf") format("truetype");
}

html {
	background: var(--primary-color);
	scroll-behavior: smooth;
}

body {
	background: var(--background-stripes);
	color: var(--text-color);
	font-size: var(--font-size);
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

header {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: 100svh;
	justify-content: center;
	margin: 0 auto;
	max-width: var(--content-max-width);
	padding: var(--base-padding);
	position: sticky;
	top: 0;
}

header img {
	border-radius: 100%;
	box-shadow: 50px 0 0 0 #000;
	max-width: 200px;
}

main {
	position: relative;
	z-index: 1;
}

h1,
h2 {
	font-family: "Unbounded", sans-serif;
	font-size: 2rem;
	font-weight: bold;
	margin: 2rem 0;
	padding: 0;
}

.cta {
	background-color: var(--cta-background);
	box-shadow: 5px 5px 0 var(--cta-text-color);
	color: var(--cta-text-color);
	padding: 1rem;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.2s ease-in-out;
}

.cta:hover {
	box-shadow: 0 0 0 var(--cta-text-color);
	transform: translateX(5px) translateY(5px);
}

.cta--invert {
	background-color: var(--cta-text-color);
	box-shadow: 5px 5px 0 var(--cta-background);
	color: var(--cta-background);
}

.section {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	min-height: 100svh;
	padding: var(--base-padding);
}

.section--services {
	background: radial-gradient(circle at 30% 107%, #ff00dc 0, #01ffff 5%, #140fc7 45%, #d6249f 60%, #e81392 90%);
	background-attachment: fixed;
}

.section--services h2 {
	color: #fff;
}

.section--services p {
	color: #fff;
	font-size: 1.25rem;
	line-height: 1.8;
	margin: 0 0 1rem 0;
	padding: 0;
}

.service-items {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: space-between;
	margin: 2rem auto;
}

.service {
	align-items: center;
	backdrop-filter: blur(10px);
	background: rgba(174, 73, 232, 0.28);
	display: flex;
	padding: var(--base-padding);
}

.service h3 {
	font-family: "Unbounded", sans-serif;
	font-size: 1.5rem;
	margin: 0 0 1rem;
}

.service__icon {
	align-self: flex-start;
	background: cyan;
	height: 60px;
	margin-right: 2rem;
	min-width: 60px;
	padding: 1rem;
}

.section--testimonials {
	background: linear-gradient(45deg, #fa8bff, #2bd2ff 52%, #2bff88 90%);
	background-attachment: fixed;
}

.section--testimonials h2 {
	text-align: center;
}

.testimonial {
	margin-bottom: 3rem;
	padding: 0 0 0 2rem;
	position: relative;
}

.testimonial blockquote {
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.6;
	margin: 1rem 0;
}

.testimonial p {
	margin: 0;
	opacity: 0.5;
	padding: 0;
}

.testimonial img {
	border-radius: 100%;
	box-shadow: 25px 0 0 0 var(--primary-color);
	display: block;
	max-width: 100px;
}

.section--contact {
	background: linear-gradient(var(--primary-color) 0%, var(--secondarycolor) 100%);
	color: #fff;
	text-align: center;
}

.section--contact h2 {
	font-size: 3rem;
}

.section--contact p {
	font-size: 1.5rem;
	line-height: 1.6;
}

.section--contact .cta {
	margin: 2rem auto 0;
}

footer {
	background: var(--footer-background);
	color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4rem var(--base-padding);
	position: relative;
	text-align: center;
	z-index: 1;
}

footer .social-icons {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 2rem;
	max-width: var(--content-max-width);
}

footer .social-icons a {
	background: var(--link-color);
	height: 40px;
	margin: 0 1rem;
	padding: 0.5rem;
	width: 40px;
}

footer .social-icons a svg {
	color: #333;
	height: 100%;
	width: 100%;
}
